body {
  background: url(../images/bg-black.png);
  position: relative;
}

// .front {
//   background-color: #fff;
//   position: relative;
// }

div {
  color: #fff;
}

.title-p {
  font-size: 16px;
  line-height: 20px;
}

label {
  color: black;
}

p {
  color: black;
}

